html {
	color: #666;
	font: normal 16px/24px Helvetica, Arial, sans-serif;
}
body {
	margin: 0;
	background: #fff;
}
.mainwrapper {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 980px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
	margin: 0;
	padding: 0.6em 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #333;
	font-weight: bold;
}
h1, .h1 {
	font-size: 2rem;
}
h2, .h2 {
	font-size: 1.5rem;
}
h3, .h3 {
	font-size: 1.2rem;
}
h4, .h4 {
	font-size: 1rem;
}
h5, .h5 {
	font-size: 0.85rem;
}
h6, .h6 {
	font-size: 0.7rem;
}
p, .p {
	font-size: 1rem;
	font-weight: normal;
}



.underline-dashed {
	border-bottom: 1px dashed #666;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
